.aboutHeader {
  margin-top: 200px;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  max-width: 95%;
  max-height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: rgba(0, 217, 255, 0.5);
  border-style: solid;
  border-width: 2px;
  padding: 20px;

  margin-bottom: 100px;
}
strong {
  text-shadow: 1px 1px rgba(0, 217, 255, 0.5);
}

main {
  border: rgb(0 109 128);
  border-style: solid;
  border-width: 0% 2% 0% 2%;
}

.container {
  max-width: 100% !important;
}

html {
  border: rgb(0 109 128);
  border-style: solid;
  border-top-width: 90px;
  border-bottom-width: 90px;

  /*remove*/
  /* zoom: 200%; */
}

.row {
  height: 380px !important;
}
.col1 {
  position: relative;
}

.col2 {
  position: relative;
}
.col3 {
  display: flex;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  flex-direction: row;

  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;

  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  align-items: center;
  justify-content: center;
}

.col3 img {
  width: 19%;
  max-width: 232px !important;
  max-height: 310px;
}
.row {
  height: 380px !important;
}

.row > * {
  font-size: 200%;
}

.linkedin {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgba(0, 217, 255, 0.5);
}

.linkedin:hover {
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgba(0, 217, 255, 0.7);
}

.aboutHeader h2 {
  text-shadow: 2px 2px rgba(0, 217, 255, 0.5);
}

.aboutHeader h2:hover {
  text-shadow: 2px 2px rgba(0, 217, 255, 0.7);
  scale: 1.1;
  transition: 3s;
}

img {
  border: rgba(0, 217, 255, 0.5);
  border-style: solid;
  border-width: 1px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 83%;
  height: auto;
}

.page-link:focus {
  font-variant: small-caps !important

  ;
  font-weight: 900;
  border: rgb(0 109 128);
  border-style: solid;
  border-width: 1px;
}

.page-link {
  color: rgb(0 109 128) !important;
  font-weight: 600;
  box-shadow: none !important;
}
.page-link:hover {
  background-color: rgb(0 109 128) !important
  ;
  color: rgb(255, 255, 255) !important;

  font-weight: 900;
}

ul {
  border: rgb(0, 0, 0);
  border-style: solid;
  border-width: 5px;
  border-radius: 40px;
}

#navBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  bottom: 60px;
  height: 0px;
  --bs-bg-opacity: 0;
  scale: 1.5 !important;
}
.imgAnimation-enter {
  opacity: 0;
  transform: translateY(-400px);
}
.imgAnimation-enter-active {
  transform: translateY(0);
  opacity: 1;

  transition: cubic-bezier(0.42, 0, 0.58, 1.49) transform 2s, opacity 3s;
}
.imgAnimation-exit {
  transform: translateY(0);
}
.imgAnimation-exit-active {
  opacity: 0;
  transition: opacity 2.5s;
}

.imgBox2Animation-enter {
  opacity: 0;
}
.imgBox2Animation-enter-active {
  opacity: 1;
  transition: opacity 5s;
}

.imgBox2Animation-exit {
  opacity: 1;
}
.imgBox2Animation-exit-active {
  opacity: 0;
  transition: opacity 2s;
}

.pAnimation-enter {
  opacity: 0;
  position: absolute;
  scale: 2;
}
.pAnimation-enter-active {
  opacity: 1;
  scale: 1;

  transition: cubic-bezier(0.42, 0, 0.58, 1.49) scale 2s, opacity 3s;
  position: absolute;
}
.pAnimation-exit {
  transform: translateX(0);
  position: absolute;
}
.pAnimation-exit-active {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
}

.p2Animation-enter {
  opacity: 0;
  position: absolute;
  scale: 0.5;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.p2Animation-enter-active {
  opacity: 1;
  scale: 1;
  width: 90%;
  display: flex;
  align-content: space-between;
  transition: cubic-bezier(0.42, 0, 0.58, 1.49) scale 2s, opacity 3s;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.p2Animation-exit {
  transform: translateX(0);
  position: absolute;
  width: 90%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.p2Animation-exit-active {
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.p2Animation-enter-done {
  width: 90%;
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.darkMode {
  scale: 1.2;
  font-weight: 900;
  margin-top: 6px;
  color: rgb(0 109 128);
}
.darkMode:focus {
  border: rgb(0 109 128);
  border-style: solid;
  border-width: 1px;
}

.darkMode:hover {
  background-color: rgb(0 109 128);
  color: #ffffff;
}

.contactForm {
  display: flex;
  align-content: space-between;
  width: 50%;
}

.getInTouch {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 47%;
}
.coreValues {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  width: 47%;
}
form {
  width: 50%;
}

#yourMessage {
  width: 175%;
}

.formBtn {
  color: rgb(0 109 128);
}

.formBtn:hover {
  color: #ffffff;
  background-color: rgb(0 109 128);
}
@media (orientation: portrait) and (max-width: 767px) {
  .aboutHeader {
    max-height: 100%;
    max-width: 400px;
    margin-top: 40px;

    padding-left: 20px;
  }
  .aboutHeader h1 {
    font-size: 200%;
  }
  .aboutHeader h2 {
    font-size: 200%;
  }
  .row {
    display: flex;
    flex-wrap: wrap;

    margin-right: auto;
    margin-left: auto;
    height: 680px !important;

    margin: auto !important;
  }
  .container {
    font-size: 60% !important;
  }
  #topBox {
    max-height: auto;
    width: 280px !important;
    position: absolute !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 83% !important;
  }
  .col1 {
    min-width: 100%;
    height: 60%;
  }
  .col2 {
    min-width: 100%;
    height: 40%;
  }
  .col3 {
    display: flex;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    flex-direction: column;
    flex-wrap: wrap;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    justify-content: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .col3 img {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }

  .pictures {
    display: flex;
    flex-wrap: wrap;

    height: 100%;
  }
  .pagination {
    --bs-pagination-font-size: 12px !important;
  }
  html {
    border: rgb(0 109 128);
    border-style: solid;
    border-top-width: 30px;
    border-bottom-width: 30px;
  }
  #navBottom {
    scale: 0.8;
  }
  .imgAnimation-enter {
    transform: translateX(-400px);
  }
  .imgAnimation-enter-active {
    transform: translateX(0);
    transition: cubic-bezier(0.42, 0, 0.58, 1.49) transform 3s;
  }
  .imgAnimation-exit {
    transform: translateX(0);
  }
  .imgAnimation-exit-active {
    opacity: 0;
    transition: opacity 3s;
  }

  .p2Animation-enter {
    opacity: 0;
    position: absolute;
    scale: 2;
    width: 100%;
  }

  .p2Animation-enter-active {
    opacity: 1;
    scale: 1;
    width: 100%;
    max-height: 100%;

    margin-top: 20px;
    padding-left: 10px;

    transition: cubic-bezier(0.42, 0, 0.58, 1.49), scale 2s, opacity 3s;
    position: absolute;
  }
  .p2Animation-enter-done {
    width: 100%;
  }
  .p2Animation-exit {
    transform: translateX(0);
    position: absolute;
    width: 100%;
  }
  .p2Animation-exit-active {
    opacity: 0;
    transition: opacity 1s;
    position: absolute;
    width: 100%;
  }
  .coreValues {
    width: 100%;
    justify-content: center;
  }
  .contactForm {
    width: 100%;
  }
  .getInTouch {
    width: 100%;
    justify-content: center;
  }
  form {
    width: 100%;
  }

  #yourMessage {
    width: 100%;
  }
}
@media only screen and (min-width: 767px) {
  .col1 {
    width: 50% !important;
  }
  .col2 {
    width: 50% !important;
  }
  #topBox {
    max-width: 150px !important;
    display: flex !important;
    flex-direction: row !important;
    margin-top: 24px;
    position: absolute;
  }

  .container {
    font-size: 100% !important;
  }
  .aboutHeader h1 {
    font-size: 200%;
  }
  .aboutHeader h2 {
    font-size: 200%;
  }
  #navBottom {
    scale: 0.7;
  }
  .aboutHeader {
    min-height: 190px;
    max-width: 95%;
    margin-top: 100px;
    padding-top: 5px;
  }
  .container {
    font-size: 65% !important;
  }
  .aboutHeader h1 {
    font-size: 200%;
  }
  .aboutHeader h2 {
    font-size: 200%;
  }
}
@media only screen and (min-width: 990px) {
  .col1 {
    width: 60% !important;
    margin-top: 10px !important;
  }
}

.row > * {
  font-size: 230%;
}
.col2 {
  width: 40% !important;
}
#topBox {
  max-width: 300px !important;
  display: flex !important;
  flex-direction: row !important;
  position: absolute;
  margin-top: 36px;
}

@media (orientation: landscape) and (max-width: 767px) {
  .col1 {
    width: 67% !important;
  }
  .col2 {
    width: 33% !important;
  }

  #topBox {
    max-width: 300px !important;
    position: absolute;
  }
  .aboutHeader {
    margin-top: 40px;
    min-height: 380px;
    max-width: 95%;
    padding: 20px;
    padding-top: 46px;
  }
  .container {
    font-size: 65% !important;
  }
  .aboutHeader h1 {
    font-size: 200%;
  }
  .aboutHeader h2 {
    font-size: 200%;
  }
  .row {
    width: 97%;
  }

  #navBottom {
    scale: 0.8;
  }
}

/* @media only screen and (min-width: 1285px) {
  .col1 {
    width: 67% !important;
    zoom: 1;
  }
  .col2 {
    width: 33% !important;
  }
  #topBox {
    max-width: 180px !important;
    margin-top: 5px;
  }

  .container {
    font-size: 100% !important;
  }
  .aboutHeader h1 {
    font-size: 200%;
  }
  .aboutHeader h2 {
    font-size: 200%;
  }
} */
